<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EliteCareer Test Suite" thread-count="5" preserve-order="true">

	<parameter name="appURL" value="http://elitecareer.net" />
	<parameter name="browserType" value="firefox" />

	<test verbose="2" name="Regression Test" preserve-order="true">
		<packages>
			<package name="elitecareer.framework.tests" />
		</packages>
	</test>
	
</suite>
            
            